@charset "UTF-8";
/*Includen alle sekund├ñren scss files in das Hauptscssfile -> main.scss*/
/*IMPORT ALLER BASE-SCSS FILES*/
/*Font Colors*/
/*Background Colors*/
/*Showcase Area*/
/*Mixins*/
/*Font Colors*/
/*Background Colors*/
/*Showcase Area*/
body {
  font-family: "Segoe UI", "Segoe WP", "Segoe Regular", sans-serif;
  font-size: 15px;
  line-height: 1.7em;
  color: #666666; }

a {
  color: #2c3e50; }

ul, li {
  list-style: none; }

input, textarea, button {
  -moz-border-radius: 0px;
  -webkit-boder-radius: 0px;
  border-radius: 0px; }

img.device {
  width: 100%; }

img.device-small {
  width: 100%;
  margin-bottom: -34px; }

/*Mixins*/
/*Font Colors*/
/*Background Colors*/
/*Showcase Area*/
h1, h2, h3, h4, h5 {
  margin-top: 0px; }

.page-header {
  margin-top: 30px; }

.top-inner {
  margin-top: 100px; }

.no-pad-top {
  padding-top: 0; }

.extra-pad {
  padding-top: 40px;
  padding-bottom: 40px; }

.extra-margin-1 {
  margin-top: 30px; }

.extra-margin-2 {
  margin-top: 110px; }

.margintop-imagearea {
  margin-top: 50px; }

.marginbottom-imagearea {
  margin-bottom: 100px; }

.col-md-6.normalize {
  padding-right: 0px;
  padding-left: 0px; }

div.container-imagearea {
  margin: 0% 1.6%; }

/*Image sizes*/
.img-xsm {
  width: 100px; }

.img-sm {
  width: 200px; }

.img-lg {
  width: 400px; }

.img-xlg {
  width: 700px; }

.clearfix {
  clear: both; }

/*Font Colors*/
/*Background Colors*/
/*Showcase Area*/
/*IMPORT ALLER MODULES-SCSS FILES -> f├╝r sitespezifische Komponenten z.b. navbar*/
/*Mixins*/
/*Font Colors*/
/*Background Colors*/
/*Showcase Area*/
/*Font Colors*/
/*Background Colors*/
/*Showcase Area*/
/*BLOCKS*/
.block, .block-primary, .block-secondary, .block-light, .block-dark {
  padding: 20px;
  margin-bottom: 15px; }
  .block h3, .block-primary h3, .block-secondary h3, .block-light h3, .block-dark h3 {
    margin-top: 30px;
    padding-top: 0; }
  .block iframe, .block-primary iframe, .block-secondary iframe, .block-light iframe, .block-dark iframe {
    width: 100%; }

.block-special {
  color: #fff; }

.block-primary {
  background: #2c3e50;
  color: #fff; }

.block-secondary {
  background: #ecf0f1;
  color: #666666; }

.block-light {
  background: #fff;
  color: #666666; }

.block-dark {
  background: #34495e;
  color: #fff; }

.block-left {
  text-align: left !important; }

.block-center {
  text-align: center !important; }

.block-image img {
  width: 100%;
  border-radius: 50%; }

.block-primary-head h3 {
  padding: 15px 5px 15px 10px;
  background: #2c3e50;
  color: #fff;
  margin: 0;
  font-size: 18px; }
.block-primary-head .block-content {
  border: 1px solid #2c3e50;
  padding: 10px; }

.block-icon h3 {
  padding: 0;
  margin: 0; }
.block-icon .icon {
  float: left;
  width: 20%;
  margin-top: 10px; }
.block-icon .icon-content {
  float: left;
  width: 70%; }

/*Buttons*/
/*Font Colors*/
/*Background Colors*/
/*Showcase Area*/
/*Mixins*/
/*Font Colors*/
/*Background Colors*/
/*Showcase Area*/
.btn-primary {
  background: #2c3e50;
  color: #fff;
  border: 2px solid #fff; }

.btn-primary:hover {
  background: #3e5771;
  border: 2px solid #fff; }

/*Font Colors*/
/*Background Colors*/
/*Showcase Area*/
/*Mixins*/
/*Font Colors*/
/*Background Colors*/
/*Showcase Area*/
/*Carousel*/
.carousel {
  margin-bottom: 20px; }

/*Tabs*/
.tab-pane {
  padding: 20px 10px;
  -moz-border-radius: 5px;
  -webkit-boder-radius: 5px;
  border-radius: 5px;
  margin-bottom: 20px; }

.tab-primary .tab-pane, .tab-primary .nav-tabs > li.active > a, .tab-primary .nav-tabs > li.active > a:hover,
.tab-primary .nav-tabs > li.active > a:focus {
  background: #2c3e50;
  color: #fff; }

.tab-light .tab-pane, .tab-light .nav-tabs > li.active > a, .tab-light .nav-tabs > li.active > a:hover,
.tab-light .nav-tabs > li.active > a:focus {
  background: #fff;
  color: #666666; }

/*Sections */
/*Font Colors*/
/*Background Colors*/
/*Showcase Area*/
/*Mixins*/
/*Font Colors*/
/*Background Colors*/
/*Showcase Area*/
section {
  padding: 30px 0px; }

.section-showcase {
  height: 550px;
  background: url("../img/showcase.jpg") no-repeat top center; }
  .section-showcase .showcase-content {
    padding: 130px 15px;
    text-align: center; }
  .section-showcase h1 {
    color: #fff;
    font-size: 60px; }
  .section-showcase p {
    color: #fff; }

.section-showabout {
  width: 100%;
  height: 400px;
  background: url("../img/showme.jpg") no-repeat top center; }
  .section-showabout .showcase-content {
    padding: 90px 15px;
    text-align: left; }
  .section-showabout h2 {
    color: #2c3e50;
    font-size: 35px; }
  .section-showabout blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    font-size: 17.5px;
    border-left: 3.9px solid #2c3e50; }

.section-imagearea h2 {
  font-size: 45px;
  font-weight: 200; }
.section-imagearea span {
  font-weight: 700; }
.section-imagearea p {
  font-size: 13px; }
.section-imagearea .box-1 {
  padding-left: 150px;
  top: 75px; }
.section-imagearea .box-2 {
  padding-left: 135px;
  top: 75px; }

.services h2 {
  font-size: 35px;
  padding-top: 30px;
  font-weight: 200; }
.services span {
  font-weight: 700; }
.services h3 {
  font-size: 16px;
  font-weight: 650; }
.services p {
  margin-bottom: 30px; }
.services .fa {
  padding: 0px 14px 12px 0px; }

section.advert h1 {
  font-weight: 200; }
section.advert span {
  font-weight: 700; }

.section-carousel-about {
  padding: 0; }

section.philosophy .page-header {
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 50px; }
section.philosophy h2 {
  margin-bottom: 0px;
  font-weight: 200; }
section.philosophy h3 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 600; }
section.philosophy .block-secondary {
  padding: 50px 60px 50px 60px; }

.team-section h3 {
  margin-bottom: 2px;
  padding-bottom: 0px; }
.team-section h4 {
  font-size: 15px;
  padding-top: 0px;
  margin-top: 0px;
  padding-bottom: 15px; }

section.section-main {
  margin-top: 50px; }

section.section-map {
  margin-top: -30px; }

footer.footer-main {
  margin-bottom: -64px; }

.services.section-primary .page-header, .services.section-primary-a .page-header {
  font-size: 35px;
  font-weight: 400; }
.services.section-primary h3, .services.section-primary-a h3 {
  padding-bottom: 15px;
  font-size: 25px; }

.section-primary, .section-primary-a {
  background: #2c3e50;
  background: rgba(44, 62, 80, 0.8); }

.section-primary-a {
  border-top: 4px solid #ecf0f1; }

.section-secondary {
  background: #ecf0f1;
  color: #666666; }

.section-light {
  background: #fff;
  color: #666666; }

.section-imagearea {
  background: #fff;
  color: #666666;
  padding: 0px; }

.section-dark {
  background: #34495e;
  color: #fff; }

/*Lists*/
/*Mixins*/
/*Font Colors*/
/*Background Colors*/
/*Showcase Area*/
/*Font Colors*/
/*Background Colors*/
/*Showcase Area*/
.list, .list-feature {
  margin-bottom: 30px; }

.list-feature {
  margin: 0;
  padding: 0;
  width: 80%; }
  .list-feature li {
    line-height: 2.2em;
    border-bottom: 1px solid #ccc;
    overflow: auto; }
  .list-feature li:last-child {
    border: 0; }

.list-comments {
  margin: 0;
  padding: 0; }

.list-comments li {
  padding: 10px 0px 5px 0px;
  border-bottom: 1px solid #ccc;
  overflow: auto !important; }

.list-comments li:last-child {
  border: 0px; }

.list-comments img {
  width: 100px; }

/*Icons*/
.fa-2 {
  font-size: 18px; }

.fa-3 {
  font-size: 24px; }

.fa-4 {
  font-size: 27px; }

.fa-5 {
  font-size: 35px; }

.fa-6 {
  font-size: 40px; }

.fa-primary {
  color: #2c3e50; }

.fa-border {
  border: 1px solid #2c3e50;
  -moz-border-radius: 5px;
  -webkit-boder-radius: 5px;
  border-radius: 5px;
  padding: 13px 15px;
  width: 70px;
  margin-bottom: 10px; }

/*Headings*/
.heading-primary, .heading-primary-a {
  color: #2c3e50; }

.heading-primary-a {
  border-bottom: 2px solid #2c3e50; }

.heading-secondary, .heading-secondary-a {
  color: #ecf0f1; }

.heading-secondary-a {
  border-bottom: 2px solid #ecf0f1; }

.heading-light, .heading-light-a {
  color: #fff; }

.heading-light-a {
  border-bottom: 2px solid #fff; }

.heading-dark, .heading-dark-a {
  color: #34495e; }

.heading-dark-a {
  border-bottom: 2px solid #34495e; }

/*Search Bar*/
/*Font Colors*/
/*Background Colors*/
/*Showcase Area*/
.search {
  width: 100%; }
  .search h3 {
    margin-top: 0;
    padding-top: 0; }
  .search input[type="search"] {
    border: 0;
    height: 50px;
    width: 80%;
    border: 2px solid #2c3e50;
    font-size: 18px;
    padding-left: 10px;
    padding-bottom: 5px; }
  .search button {
    vertical-align: top;
    width: 100px;
    height: 50px; }

/*IMPORT ALLER LAYOUT-SCSS FILES */
/*Footer*/
/*Font Colors*/
/*Background Colors*/
/*Showcase Area*/
/*Mixins*/
/*Font Colors*/
/*Background Colors*/
/*Showcase Area*/
.footer-main {
  background: #34495e;
  color: #fff;
  border-top: 5px solid #ecf0f1;
  min-height: 200px;
  padding: 30px 0px;
  z-index: 100; }
  .footer-main a {
    color: #fff; }
  .footer-main ul {
    margin: 0;
    padding: 0; }
  .footer-main li {
    line-height: 1.8em;
    list-style: none; }

/*Nav Bar */
/*Mixins*/
/*Font Colors*/
/*Background Colors*/
/*Showcase Area*/
/*Font Colors*/
/*Background Colors*/
/*Showcase Area*/
.navbar {
  width: 90%;
  margin: auto;
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-color: #e7e7e7;
  min-height: 60px;
  background: #fff;
  margin-bottom: 30px; }
  .navbar a {
    color: #2c3e50 !important;
    font-size: 20px;
    letter-spacing: -0.5px;
    padding-bottom: 24px !important;
    padding-top: 20px !important; }

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #2c3e50 !important;
  color: #fff !important; }

/*Blog*/
.blog-post {
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  padding: 25px 15px; }
  .blog-post h2.page-header {
    margin-top: 5px !important; }

.blog-featured {
  float: left;
  margin-right: 15px; }

.post-meta {
  background-color: #f3f3f3;
  padding: 10px 10px 10px 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px; }

/*Mobile Version*/
@media (max-width: 900px) {
  .search {
    display: inline-block;
    text-align: center; }

  .device {
    display: block;
    margin: 20px auto 0 auto; }

  .device-small {
    margin-bottom: 20px !important; }

  .footer-main ul {
    margin-bottom: 20px;
    text-align: center; }
  .footer-main h4 {
    text-align: center; }

  .section-imagearea .box-1 {
    padding-bottom: 17%;
    padding-left: 55px; }
  .section-imagearea .box-2 {
    padding-left: 55px; }

  .section-showabout h2 {
    color: #fff;
    font-size: 35px; }
  .section-showabout blockquote {
    padding: 0px 20px;
    border-left: 3.9px solid #fff; }
  .section-showabout em {
    color: #fff; } }

/*# sourceMappingURL=main.css.map */
