h1,h2,h3,h4,h5{
	margin-top: 0px, 

}

.page-header{
	margin-top: 30px; 
}

.top-inner{
	margin-top: 100px; 
}

.no-pad-top{
	padding-top: 0;
}

.extra-pad{
	padding-top: 40px; 
	padding-bottom: 40px;
}

.extra-margin-1{
	margin-top: 30px; 
}

.extra-margin-2{
	margin-top: 110px; 
}

.margintop-imagearea{
	margin-top: 50px;
}

.marginbottom-imagearea{
	margin-bottom: 100px;
}

.col-md-6.normalize{
	padding-right: 0px;
    padding-left: 0px;
}

div.container-imagearea{
	margin: 0% 1.6%;
}

/*Image sizes*/

.img-xsm{
	width: 100px; 
}
.img-sm{
	width: 200px; 
}
.img-lg{
	width: 400px; 
}
.img-xlg{
	width: 700px; 
}

.clearfix{
	clear: both;
}


