/*Font Colors*/
$base-font-size: 15px; 
$h1-font-size: 60px; 
$base-font-family: "Segoe UI", "Segoe WP", "Segoe Regular", sans-serif;
$base-font-color: #666666;

/*Background Colors*/
$primary-color: #2c3e50;
$secondary-color: #ecf0f1; 
$light-color: #fff; 
$dark-color: #34495e; 

/*Showcase Area*/
$showcase-height: 550px; 
$showcase-image: '../img/showcase.jpg';
$showabout-height: 400px;
$showabout-image: '../img/showme.jpg';
$allaboutus-image: '../img/allaboutus.jpg';